
form {
  font-family: sans-serif;
}
label {
  cursor: pointer;
  font-size: 10vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
input, textarea {
  padding: 2%;
  border:1px solid #aaa;
  border: none;
  border-bottom: 1px black solid;
  display:block;
  margin-bottom: 5%;
  margin-top: 1%;
  font-size: 100%;
  width: 100%;
  background-color: rgb(208, 208, 208);
  font-family: sans-serif;
}
textarea {
  resize: vertical;
  width: 100%;
  min-height: 20%;
}
input[type="submit"] {
  margin-top: 2%;
  background-color: rgb(208, 208, 208);
  border: 1px solid black;
}
input[type="submit"]:hover {
  background-color: rgb(208, 208, 208)
  color: #fff;
  cursor: pointer;
}
input:focus, textarea:focus {

  outline: 0;
  background-color: rgb(195, 195, 195);
  transition: background-color .25s ease-out;
}
